<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Author" content="GalaTour Orel">
    <meta name="description" content="@Html.Raw(ViewData["Description"])">
    <meta name="keywords" content="@Html.Raw(ViewData["Keywords"])">
    @{ 
        DateTime now = DateTime.Now;
        ViewBag.DateNow = now.ToString("yyyy");
    }
    <title>@Html.Raw(ViewData["Title"]) - ГалаТур</title>

    <environment include="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!-- Yandex.Metrika counter -->
    <script>
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter30308022 = new Ya.Metrika({
                        id: 30308022,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/30308022" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <main>
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer__block">
                    <h5><span style="color: #ff5722;">G</span>ala<span style="color: #009688;">T</span>our</h5>
                    <ul>
                        <li>@Html.ActionLink("О нас", "About")</li>
                        <li>@Html.ActionLink("Контакты", "Contacts")</li>
                        <li>@Html.ActionLink("Памятка туристу", "Tourist")</li>
                    </ul>
                </div>
                <div class="col-md-4 footer__block">
                    <h5>Услуги</h5>
                    <ul>
                        <li>@Html.ActionLink("Туры по России", "TourSearch")</li>
                        <li>@Html.ActionLink("Подбор тура", "ToursAbroad")</li>
                        <li>@Html.ActionLink("Автобусные туры к морю", "BusTours")</li>
                        <li>@Html.ActionLink("Экскурсионные туры", "Excursions")</li>
                        <li><a asp-controller="Home" asp-action="Index" asp-fragment="bus-rent">Аренда автобуса</a></li>
                    </ul>
                </div>
                <div class="col-md-4 footer__block">
                    <div class="social-icons">
                        <a href="https://vk.com/gtorel" target="_blank">
                            <i class="social-icon fab fa-vk"></i>
                        </a>
                        <a href="https://ok.ru/gtorel" target="_blank">
                            <i class="social-icon fab fa-odnoklassniki"></i>
                        </a>
                    </div>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Agreement">Соглашения</a></li>
                        <li><a asp-controller="Home" asp-action="PrivacyPolicy">Конфеденциальность</a></li>
                        <li><a href="~/sitemap.xml">Карта сайта</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <span style="color: #ff5722;">G</span><span style="color: #009688">T</span> &copy; @ViewBag.DateNow. Информация на сайте носит ознакомительный характер и не является публичной офертой.
                </div>
            </div>
        </div>
    </footer>

    @{
        if (!Context.Request.Cookies.ContainsKey("cookie_agreement"))
        {
            <div class="cookie">
                <div class="cookie-section container">
                    <div>
                        Мы используем cookie и аналогичные технологии.
                        <a asp-controller="Home" asp-action="PrivacyPolicy">Узнайте подробнее</a>
                    </div>
                    <button type="button" class="btn btn-accept-cookie" onclick="setCookie('cookie_agreement')">
                        Хорошо
                    </button>
                </div>
            </div>
        }
    }
    <environment include="Development">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script>
            !function (e) { "use strict"; e('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function () { if (location.pathname.replace(/^\//, "") == this.pathname.replace(/^\//, "") && location.hostname == this.hostname) { var a = e(this.hash); if ((a = a.length ? a : e("[name=" + this.hash.slice(1) + "]")).length) return e("html, body").animate({ scrollTop: a.offset().top - 54 }, 1e3, "easeInOutExpo"), !1 } }), e(".js-scroll-trigger").click(function () { e(".navbar-collapse").collapse("hide") }), e("body").scrollspy({ target: "#mainNav", offset: 56 }); function a() { 100 < e("#mainNav").offset().top ? e("#mainNav").addClass("navbar-shrink") : e("#mainNav").removeClass("navbar-shrink") } a(), e(window).scroll(a) }(jQuery);
        </script>
        <script src="~/js/blazy.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://kit.fontawesome.com/e884a7030d.js"></script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-58848810-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script>
            $(document).ready(function () {
                $.getScript("//vk.com/js/api/openapi.js?139", function () {
                    VK.Widgets.CommunityMessages("vk_community_messages", 45357153, { welcomeScreen: "1", expanded: "0", disableExpandChatSound: "1", disableNewMessagesSound: "1", tooltipButtonText: "Есть вопрос?" });
                });
            });
        </script>
        <!-- VK Widget -->
        <div id="vk_community_messages" class="vk_community"></div>

    </environment>
    <environment exclude="Development">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script>
            !function (e) { "use strict"; e('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function () { if (location.pathname.replace(/^\//, "") == this.pathname.replace(/^\//, "") && location.hostname == this.hostname) { var a = e(this.hash); if ((a = a.length ? a : e("[name=" + this.hash.slice(1) + "]")).length) return e("html, body").animate({ scrollTop: a.offset().top - 54 }, 1e3, "easeInOutExpo"), !1 } }), e(".js-scroll-trigger").click(function () { e(".navbar-collapse").collapse("hide") }), e("body").scrollspy({ target: "#mainNav", offset: 56 }); function a() { 100 < e("#mainNav").offset().top ? e("#mainNav").addClass("navbar-shrink") : e("#mainNav").removeClass("navbar-shrink") } a(), e(window).scroll(a) }(jQuery);
        </script>
        <script src="~/js/blazy.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://kit.fontawesome.com/e884a7030d.js"></script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-58848810-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    $.getScript("//vk.com/js/api/openapi.js?139", function () {
                        VK.Widgets.CommunityMessages("vk_community_messages", 45357153, { welcomeScreen: "1", expanded: "0", disableExpandChatSound: "1", disableNewMessagesSound: "1", tooltipButtonText: "Есть вопрос?" });
                    });
                }, 2000);
            });
        </script>

        <!-- VK Widget -->
        <div id="vk_community_messages" class="vk_community"></div>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
