@model IEnumerable<GalaTour.Models.BusTour>
@{
    ViewBag.Description = "Автобусные туры к морю из Орла";
    ViewBag.Keywords = "автобусом к морю, автобусные туры, автобусные туры на море, автобусом к морю, автобусные туры из Орла, автобусные туры к морю из Орла, туры к морю из Орла, автобусом к морю из Орла, автобусные туры к морю Орел, туры в Краснодарский край, туры на черное море, туры на азовское море, туры по России";
    ViewBag.Title = "Автобусные туры к морю из Орла";
}
<div class="ex-header">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="~/">
                <span style="color: #ff5722">G</span>ala<span style="color:#009688">T</span>our
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="material-icons">
                    menu
                </i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="BusTours">Автобусные туры к морю</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Excursions">Экскурсии</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle js-scroll-trigger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Поиск тура
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Home" asp-action="TourSearch">Поиск туров по России</a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="ToursAbroad">Подбор тура</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Contacts">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="ex-section-header d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="intro-text">
                <h1 class="intro-lead-in">Поиск туров к морю из Орла</h1>
            </div>
            <div class="header-nav">
            </div>
            <form id="bus-tours__form" class="justify-content-center align-items-center" asp-action="BusTours" method="get">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="header__form-label">Откуда</label>
                        <input class="form-control form__input" type="text" placeholder="Орёл" readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputBusTour__where" class="header__form-label">Куда</label>
                        <select id="inputBusTour__where" class="form-control form__select" name="city">
                            <option value="all" selected>Все направления</option>
                            @foreach (var item in ViewBag.busTourCity)
                            {
                                <option value="@item.City">@Html.Raw(item.City)</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-search" asp-controller="Home" asp-action="BusTours">
                            Найти
                            <i class="material-icons" style="vertical-align: middle;     margin-left: -25px;
                                margin-bottom: 1px;">
                                arrow_forward
                            </i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </header>
</div>
<section class="section-bus-tour-hotel container">
    <h2>Автобусные туры @ViewBag.CityName</h2>
    <div class="row d-flex justify-content-start">
        @foreach (var item in Model)
        {
        <a class="hotel-card col-md-3 col-sm-4 col-6" asp-controller="Home" asp-action="Hotel" asp-all-route-data='new Dictionary<string,string> { { "regName", item.Region.RegionName }, {"city", item.TourCity.City }, { "hotelName", item.HotelName } }'>
            <!-- настроить роут -->
            <div class="hotel-card-img b-lazy" data-src="/images/tour/hotels/@item.HotelImage"></div>
            <div class="hotel-card-content">
                <p class="hotel-card-content--city">@Html.Raw(item.TourCity.City)</p>
                <p class="hotel-card-content--hotel-info" title=""><span>@Html.Raw(item.HotelType)</span> @Html.Raw(item.HotelName)</p>
                <p class="hotel-card-content--price">от @item.Price &#8381; за поездку</p>
            </div>
        </a>
        }
    </div>
</section>