@model IEnumerable<GalaTour.Models.Excursion>
@{
    ViewBag.Title = "Экскурсионные туры из Орла";
}
<section class="ex-header">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="~/">
                <span style="color: #ff5722">G</span>ala<span style="color:#009688">T</span>our
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="material-icons">
                    menu
                </i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="BusTours">Автобусные туры к морю</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Excursions">Экскурсии</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="ToursAbroad">Туры за границу</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Contacts">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="ex-section-header d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="intro-text">
                <h1 class="intro-lead-in">Экскурсионные туры из Орла</h1>
            </div>
            <div class="header-nav">
            </div>
            <form id="form" class="justify-content-center align-items-center" asp-action="excursions" method="get">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputState" class="header__form-label">Откуда</label>
                        <input class="form-control form__input" type="text" placeholder="Орёл" readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputExcursion__where" class="header__form-label">Куда</label>
                        <select id="inputExcursion__where" name="id" class="form-control form__select">
                            <option value="0" selected>Все направления</option>
                            @foreach (var item in ViewBag.eCity)
                            {
                                <option value="@item.ID">@item.City</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-search">
                            Найти
                            <i class="material-icons" style="vertical-align: middle;     margin-left: -25px;
                                margin-bottom: 1px;">
                                arrow_forward
                            </i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </header>
</section>
<section class="section-default excursions">
    <div class="container">
        <h2 class="excursions__text">Экскурсии из Орла: @ViewBag.SearchCount</h2>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-12 ex-card">
                    <div class="ex-card__image rounded" style="background-image: url('/images/ex/@item.ImageURL');"></div>
                    <div class="ex-card__content">
                        <h3>@item.Name</h3>
                        <span class="ex-card__content-price">
                            @item.Price &#8381
                        </span>
                        <p class="ex-card__content-text">
                            <span>Город: </span> @item.City
                        </p>
                        <p class="ex-card__content-text">
                            <span>Проживание: </span> отель
                        </p>
                        <p class="ex-card__content-text">
                            <span>Длительность: </span> @item.Duration
                        </p>
                        <p class="ex-card__content-text">
                            <span>Отправление: </span> @item.Date.ToString("dd.MM.yyyy")

                        </p>
                        <a class="ex-card__content-link" asp-controller="Home" asp-action="ExTour" asp-route-id="@item.ID">
                            Детали тура <i class="material-icons"
                                           style="vertical-align: middle">
                                arrow_forward
                            </i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>