@model IEnumerable<GalaTour.Models.Excursion>
@{
    foreach (var item in Model)
    {
    ViewBag.Description = "Экскурсионный тур - " + item.Name + "! В город " + item.City;
    ViewBag.Keywords = "Экскурсия в " + item.City + ", Экскурсионный тур в " + item.City + ", " + item.Name;
        ViewBag.Title = item.Name;
    }
}
<section class="section-tourist">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="~/">
                <span style="color: #ff5722">G</span>ala<span style="color:#009688">T</span>our
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="material-icons">
                    menu
                </i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="BusTours">Автобусные туры к морю</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Excursions">Экскурсии</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="ToursAbroad">Туры за границу</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Contacts">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<section class="ex-tour">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 ex-tour-main">
                @foreach (var item in Model)
                {
                    <h1>@item.Name</h1>
                    <ul class="ex-features">
                        <li><i class="fas fa-map-marker-alt"></i> @item.City</li>
                        <li><i class="far fa-clock"></i> @item.Duration</li>
                        <li><i class="far fa-calendar-alt"></i> @item.Date.ToString("dd.MM.yyyy")</li>
                        <li><i class="fas fa-ruble-sign"></i> от @item.Price&#8381;</li>
                        @if (item.HotelName != "")
                        {
                            <li><i class="fas fa-hotel"></i> <a href="@item.HotelLink">@item.HotelName</a></li>
                        }
                    <li>
                        <form method="post" asp-controller="Home" asp-action="GetFile">
                            <input name="FileName" value="@item.DocLink" style="display: none;">
                            <button type="submit"><i class="fas fa-file-download"></i> <span>Скачать</span></button>
                        </form>
                     </li>
                    </ul>
                    <img class="ex-img-responsive" src="/images/ex/@item.ImageURL" />
                    <h3>Описание</h3>
                    <div id="description">@item.Description</div>
                    <hr>
                    <h3>В стоимость входит</h3>
                    <div id="thePriceInclude">
                        <i class="fas fa-check"></i> @item.ThePriceInclude
                    </div>
                    <hr>
                    <p class="common-text">
                        Компания организатор оставляет за собой право вносить некоторые изменения в программу тура без уменьшения общего объема и качества услуг, в том числе предоставлять замену отеля на равнозначный. Компания организатор не несет ответственности за задержки, возникшие в результате   пробок на дорогах, в случае тяжелой дорожной ситуации возможны поздние приезды в отели, объекты экскурсий. В случае особых непредвиденных ситуаций возможны изменения в порядке проведения экскурсий, объем программы при этом не меняется.
                    </p>
                }

            </div>
        </div>
    </div>
</section>

