@model IEnumerable<GalaTour.Models.BusTour>
@{
    foreach (var item in Model)
    {
        ViewBag.Description = "Автобусный тур в " + item.TourCity.City + "из Орла, " + item.HotelType + " " + item.HotelName + " - Туристическое агентство ГалаТур";
        ViewBag.Keywords = "";
        ViewBag.Title = "Автобусные туры в " + item.TourCity.City + " из Орла";
        ViewBag.HotelImage = item.HotelImage;
        ViewBag.File = item.DocLink;
    }
}
<header class="hotel-header" style="background-image: url('/images/tour/hotels/@ViewBag.HotelImage')">
    <div style="position: absolute; top: 0; height: inherit; width: 100%; background: rgba(0,0,0, .5);"></div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="~/">
                <span style="color: #ff5722">G</span>ala<span style="color:#009688">T</span>our
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="material-icons">
                    menu
                </i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="BusTours">Автобусные туры к морю</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Excursions">Экскурсии</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Поиск тура
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Home" asp-action="TourSearch">Туры по России</a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="ToursAbroad">Подбор тура</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Contacts">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="hotel-nav__sticky">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hotel-nav-list">
                    <a class="hotel-nav-list__a" href="#hotelDescription">Описание</a><span class="dot"> · </span>
                    <a class="hotel-nav-list__a" href="#hotelInfo">Инофрмация</a><span class="dot"> · </span>
                    <a class="hotel-nav-list__a" href="#hotelDatePrice">Даты и цены</a><span class="dot dot-small-device"> · </span>
                    <form class="hotel-nav-list__form" method="post" asp-controller="Home" asp-action="GetFileTour">
                            <input name="FileName" value="@ViewBag.File" style="display: none;">
                            <button class="hotel-nav-list__download btn btn-outline-danger" type="submit"><i class="fas fa-file-download"></i> <span>Скачать прайс</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section-hotel-main container">
    <div class="row d-flex justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-md-12">
                <div class="hotel-main--content" id="hotelName">
                    <h2>@Html.Raw(item.HotelName)</h2>
                    <span>@Html.Raw(item.HotelType)</span>
                    <hr />
                </div>
                <div class="hotel-main--content" id="hotelDescription">
                    <h3>Описание</h3>
                    <div  id="hotelDescription">@Html.Raw(item.Description)</div>
                    <hr />
                </div>
                <div class="hotel-main--content" id="hotelInfo">
                    <h3>Дополнительная информация</h3>
                    <p id="hotelAddInfo">@Html.Raw(item.AddInfo)</p>
                    <hr />
                </div>
                <div class="hotel-main--content" id="hotelDatePrice">
                    <h3>Даты и цены</h3>
                    <p><span><strong>Заезды:</strong> @item.Date</span> <strong>Цена от:</strong> @item.Price &#8381;</p>
                    <hr />
                </div>
            </div>
        }
    </div>
</section>
<script>
    // Hotel
    // scroll to anchor (preview version)
    const anchors = document.querySelectorAll('a[href*="#"]')

    for (let anchor of anchors) {
      anchor.addEventListener('click', function (e) {
        e.preventDefault()
    
        const blockID = anchor.getAttribute('href').substr(1)
    
        document.getElementById(blockID).scrollIntoView({
          behavior: 'smooth',
          block: 'start'
        })
      })
    }
    var hotelDescription = document.getElementById("hotelDescription").innerHTML;
    var hotelAddInfo = document.getElementById("hotelAddInfo").innerHTML;
    function FormatDescriptionHotel(text, text1) {
        text = text.replace(/Расположение:/, "<strong>Расположение:</strong>");
        text = text.replace(/Размещение:/, "<br><strong>Размещение:</strong>");
        text = text.replace(/Пляж:/, "<br><strong>Пляж:</strong>");
        text = text.replace(/Питание:/, "<br><strong>Питание:</strong>");
        text = text.replace(/Условия заезда-выезда:/, "<br><strong>Условия заезда-выезда:</strong>");

        document.getElementById("hotelDescription").innerHTML = text;

        text1 = text1.replace(/Дополнительно оплачивается курортный сбор/, "<strong>Дополнтиельно оплачивается курортный сбор</strong>");
        text1 = text1.replace(/Адрес:/, "<br><strong>Адрес:</strong>");
        text1 = text1.replace(/Необходимые документы:/, "<br><strong>Необходимые документы:</strong>");
        text1 = text1.replace(/В стоимость тура входит:/, "<br><strong>В стоимость тура входит:</strong>");

        document.getElementById("hotelAddInfo").innerHTML = text1;
    }
    FormatDescriptionHotel(hotelDescription, hotelAddInfo);
</script>