@model IEnumerable<GalaTour.Models.Excursion>
@{
    ViewBag.Description = "Туристическое агентство ГалаТур Орел предлагает вам: Автобусные туры к морю, Экскурсионные туры, Аренда автобусов и микроавтобусов, а также турпоездки зарубеж";
    ViewBag.Keywords = "ГалаТур, Галатур Орёл, Туристическое агентство, туристическое агентство в Орле, автобусом к морю, автобусные туры, аренда автобуса, заказ автобуса, аренда микроавтобуса, заказ микроавтобуса, экскурсии орел, пассажирские перевозки, экскурсионные туры, аренда автобуса в Орле, заказ автобуса в Орле, заказ микроавтобуса в Орле, аренда микроавтобуса в Орле, аренда автобуса с водителем";
    ViewBag.Title = "Туристическое агентство";
}
<section class="header">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="~/">
                <span style="color: #ff5722">G</span>ala<span style="color:#009688">T</span>our
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="material-icons">
                    menu
                </i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="BusTours">Автобусные туры к морю</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Excursions">Экскурсии</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="ToursAbroad">Туры за границу</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-controller="Home" asp-action="Contacts">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="section-header d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="intro-text">
                <h1 id="header__text" class="intro-lead-in" style="color: #fff;">Поиск автобусных туров к морю из Орла</h1>
            </div>
            <div class="header-nav">
                <!-- 1st button id="bus-tours__button" -->
                <button id="bus-tours__button" type="button" class="btn btn-bus-tours">Туры к морю</button>
                <button id="excursions__button" type="button" class="btn btn-excursions">Экскурсии</button>
                <a class="btn btn-bus-rent" id="click">
                    Аренда автобусов
                    <i class="material-icons" style="vertical-align: middle; margin-bottom: 5px;">
                        keyboard_arrow_down
                    </i>
                </a>
            </div>
            <form id="bus-tours__form" class="justify-content-center align-items-center" asp-action="BusTours" method="get">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="header__form-label">Откуда</label>
                        <input class="form-control form__input" type="text" placeholder="Орёл" readonly>
                    </div>
                    <div class="form-group col-md-6"> 
                        <label for="inputBusTour__where" class="header__form-label">Куда</label>
                        <select id="inputBusTour__where" class="form-control form__select" name="city">
                            <option value="all" selected>Все направления</option>
                            @foreach (var item in ViewBag.busTourCity)
                            {
                                <option value="@item.City">@Html.Raw(item.City)</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-search">
                            Найти
                            <i class="material-icons" style="vertical-align: middle;     margin-left: -25px;
                                margin-bottom: 1px;">
                                arrow_forward
                            </i>
                        </button>
                    </div>
                </div>
            </form>
            <form id="excursions__form" class="justify-content-center align-items-center" asp-action="excursions" method="get">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="header__form-label">Откуда</label>
                        <input class="form-control form__input" type="text" placeholder="Орёл" readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputExcursion__where" class="header__form-label">Куда</label>
                        <select id="inputExcursion__where" name="id" class="form-control form__select">
                            <option value="0" selected>Все направления</option>
                            @foreach (var item in ViewBag.eCity)
                            {
                                <option value="@item.ID">@Html.Raw(item.City)</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-search">
                            Найти
                            <i class="material-icons" style="vertical-align: middle;     margin-left: -25px;
                                margin-bottom: 1px;">
                                arrow_forward
                            </i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </header>
</section>
<!-- ПОПУЛЯРНЫЕ АВТОБУСНЫЕ ТУРЫ -->
<section class="section-default pop-bus-tours">
    <div class="container">
        <h3>Популярные направления</h3>
        <div class="row justify-content-center">
            @foreach (var item in ViewBag.busTourRegion)
            {
                <div class="col-margin-bottom col-md-3 col-sm-6">
                    <a asp-controller="Home" asp-action="Region" asp-route-regName="@item.RegionName">
                        <div class="card pop-bus-tours__card" style="background-image: url('/images/tour/@item.RegionImage');">
                            <div style="position: absolute; top: 0; border-radius: 10px; height: 100%; width: 100%; background: rgba(0,0,0, .5);"></div>
                            <div class="pop-bus-tours__card-body">
                                @Html.Raw(item.RegionName)
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <a class="pop-bus-tours__link" asp-controller="Home" asp-action="BusTours">
            Все направления <i class="material-icons" style="vertical-align: middle;">keyboard_arrow_right</i>
        </a>
    </div>
</section> 
<section class="section-default pop-excursions">
    <div class="container">
        <h3>Экскурсионные туры из Орла</h3>
        <div class="row justify-content-center">
            @foreach (var item in Model.Take(4))
            {
                <div class="col-margin-bottom col-md-3 col-sm-6">
                    <a asp-controller="Home" asp-action="ExTour" asp-route-id="@item.ID">
                        <div class="card pop-excursions__card">
                            <div class="pop-excursions__card-image" style="background-image: url('/images/ex/@item.ImageURL');"></div>
                            <div class="pop-excursions__card-body">
                                <h4>@Html.Raw(item.Name)</h4>
                                <p>@Html.Raw(item.Duration) <span>от @item.Price &#8381;</span></p>
                                <p class="pop-excursions__date">@item.Date.ToString("dd.MM.yyyy")</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <a class="pop-excursions__link" asp-controller="Home" asp-action="Excursions">
            Все экскурсии <i class="material-icons"
                             style="vertical-align: middle;">keyboard_arrow_right</i>
        </a>
    </div>
</section>
<section class="section-default bus-rent" id="bus-rent">
    <div class="container">
        <h3>Аренда автобусов в Орле</h3>
        <p>Арендуйте туристические автобусы с водителями для групповых путешествий</p>
        <div class="row justify-content-center align-items-center">
            <div class="bus-rent__margin-bottom col-md-6 col-sm-6" style="text-align: center;">
                <img src="~/images/setra215hd.png" alt="setra" asp-append-version="true">
            </div>
            <div class="bus-rent__margin-bottom col-md-6 col-sm-6">
                <div class="bus-rent__about">
                    <h4>Setra 215HD</h4>
                    <hr>
                    <p class="bus-rent__text">
                        Комфортный 49-и местный автобус оснащен всем необходимым, а именно: удобные регулируемые
                        сиденья, подлокотники, кондиционер, ремни безопасности, локальное освещение, багажный отсек,
                        стерео /CD, dvd, 220v, микрофон, монитор, доп место для гида, складные столы, холодильник
                    </p>
                    <button class="btn bus-rent__link" data-toggle="modal" data-target="#busModal">
                        Арендовать
                        <i class="material-icons" style="vertical-align: middle;">
                            keyboard_arrow_right
                        </i>
                    </button>
                </div>
            </div>
            <div class="bus-rent__margin-bottom col-md-6 col-sm-6">
                <div class="bus-rent__about">
                    <h4>Mercedes Sprinter</h4>
                    <hr style="background: #009688;">
                    <p class="bus-rent__text">
                        Комфортный 18-и местный автобус оснащен всем необходимым, а именно: удобные регулируемые
                        сиденья, подлокотники, кондиционер, ремни безопасности, локальное освещение, багажный отсек,
                        стерео /CD, dvd, 220v, микрофон, монитор, складные столы
                    </p>
                    <button class="btn bus-rent__link" style="color: #009688;" data-toggle="modal" data-target="#busModal">
                        Арендовать <i class="material-icons"
                                      style="vertical-align: middle;">keyboard_arrow_right</i>
                    </button>
                </div>
            </div>
            <div class="bus-rent__margin-bottom col-md-6 col-sm-6" style="text-align: center;">
                <img src="~/images/mercedessprinter.png" alt="mercedes" asp-append-version="true">
            </div>
            <!-- Modal -->
            <div class="modal fade" id="busModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalTitle">Аренда автобуса</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Арендовать автобус можно:</p>
                            <p><i style="color: #009688;" class="fa fa-phone" aria-hidden="true"></i> По телефону: (4862)78-09-58</p>
                            <p><i style="color: #009688;" class="fa fa-map-marker" aria-hidden="true"></i> В офисе: Орловская область, город Орел, ул. Комсомольская, д.88, офис №6</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal end -->
        </div>
    </div>
</section>
